:root{
    --clr-orange: hsl(25, 97%, 53%);
    --clr-white: hsl(0, 0%, 100%);
    --clr-lightgrey: hsl(217, 12%, 63%);
    --clr-mediumgrey: hsl(216, 12%, 54%);
    --clr-darkblue: hsl(213, 19%, 18%);
    --clr-vdarkblue: hsl(216, 12%, 8%);
}

*{
    box-sizing:border-box
 
}

body{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    margin: 0;
    justify-content: center;
    align-items: center;
    font-family: Overpass;
    font-size: 15px; 
    background-color: var(--clr-vdarkblue);
}

.rating-state {
    display: flex;
    flex-direction: column;
    max-width: 350px;
    max-height: 500px;
    border-radius: 30px;
    justify-content: center;
    align-items: center;
    padding: 30px;
    margin-bottom:5px;
    background-image: linear-gradient(
        to bottom,
        var(--clr-darkblue),
        var(--clr-vdarkblue));
    
}

.rating-state h1{
    color: var(--clr-white);
}

.rating-state p{
    color: var(--clr-lightgrey);
}

.rate-scale{
    padding:15px;
}

.submit-button{
    background-color: var(--clr-orange);
    color: var(--clr-white);
    border: 1px solid black;
    width: 100%;
    border-radius: 30px;
    padding: 10px;
}

.thank-you-state {
    display: flex;
    flex-direction: column;
    max-width: 350px;
    max-height: 500px;
    border-radius: 30px;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 15px;
    background-image: linear-gradient(
        to bottom,
        var(--clr-darkblue),
        var(--clr-vdarkblue));
}

.thank-you-state h1{
    margin-bottom: 0;
    color: var(--clr-white);
}

.thank-you-icon{
    margin-top: 10px;
}

.selected-rate{
    background-color: var(--clr-darkblue);
    color: var(--clr-orange);
    border-radius: 30px;
    padding: 7px 14px;
}

.thank-you-state p{
    color: var(--clr-lightgrey);
}
/*
:hover{

}

:focus{

}
*/