:root{
    --clr-orange: hsl(25, 97%, 53%);
    --clr-white: hsl(0, 0%, 100%);
    --clr-lightgrey: hsl(217, 12%, 63%);
    --clr-mediumgrey: hsl(216, 12%, 54%);
    --clr-darkblue: hsl(213, 19%, 18%);
    --clr-vdarkblue: hsl(216, 12%, 8%);
}

*{
    box-sizing:border-box
 
}

body{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    margin: 0;
    justify-content: center;
    align-items: center;
    font-family: Overpass;
    font-size: 15px; 
    background-color: var(--clr-vdarkblue);
}

.rating-state {
    display: flex;
    flex-direction: column;
    max-width: 350px;
    max-height: 500px;
    border-radius: 30px;
    justify-content: center;
    align-items: left;
    padding: 30px;
    margin-bottom:5px;
    background-image: linear-gradient(
        to bottom,
        var(--clr-darkblue),
        var(--clr-vdarkblue));
}

.star-icon{
    background-color: var(--clr-darkblue);
    border-radius: 50%;
}

.rating-state h1{
    color: var(--clr-white);
}

.rating-state p{
    color: var(--clr-lightgrey);
}

.rate-scale{
    display: flex;
    justify-content: center;
    padding: 10px;
    margin-bottom: 15px;
}

input[type="radio"]{
    appearance: none;
    background-color: var(--clr-darkblue);
    width: 2.5em;
    height: 2.5em;
    border-radius: 50%;
    margin-left: 15px;
}

input[type="radio"]::before{
    content: "";
    width: 1em;
    height: 1em;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
}

input[type="radio"]:checked::before{
    transform: scale(1);
}

input[type="radio"]:hover{
    box-shadow: inset 2em 2em var(--clr-orange);
}

input[type="radio"]:focus{
    outline: 2px solid var(--clr-mediumgrey);
}

.submit-button{
    background-color: var(--clr-orange);
    color: var(--clr-white);
    border: 1px solid black;
    width: 100%;
    border-radius: 30px;
    padding: 10px;
}

.submit-button:hover{
    background-color: var(--clr-mediumgrey);
}

.submit-button:focus{
    outline: 1px solid var(--clr-white);
}

.thank-you-state {
    display: flex;
    flex-direction: column;
    max-width: 350px;
    max-height: 500px;
    border-radius: 30px;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 15px;
    background-image: linear-gradient(
        to bottom,
        var(--clr-darkblue),
        var(--clr-vdarkblue));
}

.thank-you-state h1{
    margin-bottom: 0;
    color: var(--clr-white);
}

.thank-you-icon{
    margin-top: 10px;
}

.selected-rate{
    background-color: var(--clr-darkblue);
    color: var(--clr-orange);
    border-radius: 30px;
    padding: 7px 14px;
}

.thank-you-state p{
    color: var(--clr-lightgrey);
}
/*
:hover{

}

:focus{

}
*/